body {
  margin: 0;
  font-family:helvetica;
  font-weight:bold;
}

canvas {
  width: 100%;
  height: 100%;
  /*position: -webkit-sticky;*/
  position: fixed;
  top:0;
}


#count {
  color:red;
}

h1 {
  z-index:5;
  color:white;
  position:fixed;
  font-size:10em;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

/*h1:hover {
  cursor:pointer;
  letter-spacing:0.5em;
}*/

