body {
  margin: 0;
  font-family:helvetica;
  font-weight:bold;
  background-image:url(Assets/gradientB&W.jpg);
  background-size:cover;
/*  overflow:hidden;*/
}

.count {
  color:red;
  z-index:5;
  position:fixed;
  font-size:5em;
  top: 40%;
  left: 40%;
}
h1 {
  z-index:5;
  color:white;
  position:fixed;

}

.numberHeader {
  top:5%;
  left:5%;
  font-size:3vw;
}

a {
  width:100%;
}

a > img {
  padding: 0.5%;
  object-fit: cover;
}

.menuContainer {
  width:95%;
  margin-left:5%;
  margin-top:5%;
}

.progressBar {
  position:fixed;
  top:40%;
  left:25%;
  background-color:white;
  height:1%;
  width:50%;
  z-index:5;
  border-radius:10px;
  opacity:0.3;
  display:none;
}

#progress {
  width:0;
  opacity:1;
  display:none;
}

#arrowPrev {
 left:20%;
}

#arrowNext {
 right:20%;
}
.arrow {
  position:fixed;
  top:40%;
  font-size:10em;
  color:white;
  display:none;
}

button {
  background:none;
  border:none;
}

button:hover {
  transform:scale(1.2);
}

#scrollableContainer {
  height:100vh;
  width:100%;
  background-color:transparent;
  position:fixed;
  top:0;
  overflow: scroll;
  z-index:15;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor:default;
  display:none;
}

#scrollableContainer::-webkit-scrollbar {
  display: none;
}

p{
  opacity:0;
  font-size:10em;
}

.dg.ac {
  z-index:100;
}
