body {
  margin: 0;
  font-family:helvetica;
  font-weight:bold;
  background-image:url(Assets/gradientB&W.jpg);
  background-size:cover;
/*  overflow:hidden;*/
}

.count {
  color:red;
  z-index:5;
  position:fixed;
  font-size:5em;
  top: 40%;
  left: 40%;
}
h1 {
  z-index:5;
  color:white;
  position:fixed;

}

.numberHeader {
  top:5%;
  left:5%;
  font-size:3vw;
}

a {
  width:100%;
}

a > img {
  padding: 0.5%;
  object-fit: cover;
}

.menuContainer {
  width:95%;
  margin-left:5%;
  margin-top:5%;
}

.progressBar {
  position:fixed;
  top:40%;
  left:25%;
  background-color:white;
  height:1%;
  width:50%;
  z-index:5;
  border-radius:10px;
  opacity:0.3;
  display:none;
}

#progress {
  width:0;
  opacity:1;
  display:none;
}
